body {
    display: flex;
    flex-flow: wrap;
    border: 3px solid red;
}

div {
    flex-grow: 1;
    width: 150px;
    height: 50px;
    margin: 5px;
    border: 1px solid black;
    background-color: red;
    text-align: center;
}


.f1 {
    flex-grow: 2;
}