body {
    font-size: 55px;
    text-align: center;
    border: 25px solid deeppink;
}

/* order matters */
/* LVHA */
/* Link Visited Hover Active */
a:link {
    color: deeppink;
}

a:visited {
    color: gold;
}

a:hover {
    color: deepskyblue;
}

a:active {
    color: purple;
}